<!DOCTYPE html>
<html lang="en" th:fragment="parent(content , title , script)" class="light" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title data-th-replace="${title}">Home page</title>
    <link rel="stylesheet" data-th-href="@{'/css/output.css'}">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.css" rel="stylesheet" />
</head>

<body>



    <div>
        <section data-th-replace="~{navbar :: navbar}"> </section>



        <section data-th-replace="~{sidebar :: layout}"></section>

        <div class="p-4 sm:ml-64">
            <div class="p-4 mt-16 border-2 border-gray-200 border-dashed rounded-lg dark:border-gray-700">
                <section data-th-replace=" ${content}"></section>
            </div>
        </div>

    </div>







    <th:block data-th-replace="${script}"></th:block>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.js"></script>


</body>

</html>