<!DOCTYPE html>
<html lang="en" th:fragment="parent(content)" class="light" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home page</title>
    <link rel="stylesheet" data-th-href="@{'/css/output.css'}">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.css" rel="stylesheet" />
</head>

<body>



    <div>
        <section data-th-replace="~{navbar :: navbar}"> </section>



        <section data-th-replace="~{sidebar :: layout}"></section>
        <section data-th-replace=" ${content}"></section>

    </div>







    </div>



    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.js"></script>


</body>

</html>